<%- partial ('navbar.ejs') %>

<div class="container" id="admin-page">
  <div class="col-sm-3 sidenav">
    <%- partial ('menu-side.ejs') %>
  </div>
  <div class="col-sm-9">

            <h3>Dashboard</h3>
            Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere con
            sectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intege
            r posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magn
            a mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero
            a pharetra augue.



  </div>
</div>
