<ul class="list-group">
  <a href="/admin"><li class="list-group-item"><i class="fa fa-dashboard"></i> Dashboard </li></a>
  <a href="/admin/giftcard"><li class="list-group-item"><i class="fa fa-list"></i> Gift Card </li></a>
  <a href="/admin/type"><li class="list-group-item"><i class="fa fa-tag"></i> Card Type </li></a>
  <a href="/admin/product"><li class="list-group-item"><i class="fa fa-shopping-bag"></i> Product </li></a>
</ul>
