<ul class="list-group">
  <a href="/admin"><li class="list-group-item"><i class="fa fa-dashboard"></i> Dashboard</li></a>
  <a class="user-list" href="#" data-toggle="collapse" data-target="#list-child"><li class="list-group-item"><i class="fa fa-users"></i> User Management<i class="pull-right fa fa-chevron-right"></i></li></a>
  <ul class="collapse list-group" id="list-child">
    <a href="/admin/usergroup"><li class="list-group-item"><i class="fa fa-angle-double-right "></i> User Group</li></a>
    <a href="/admin/user"><li class="list-group-item"><i class="fa fa-angle-double-right "></i> User List</li></a>
  </ul>
  <a href="/admin/giftcard"><li class="list-group-item"><i class="fa fa-list"></i> Gift Cards</li></a>
  <a href="/admin/type"><li class="list-group-item"><i class="fa fa-tag"></i> Card Types</li></a>
  <a href="/admin/product"><li class="list-group-item"><i class="fa fa-shopping-bag"></i> Products</li></a>
  <!--<a href="/admin/promote#"><li class="list-group-item"><i class="fa fa-certificate"></i> Promotion</li></a>-->
</ul>
