<%- partial ('navbar.ejs') %>

<div class="container" id="user-page">
  <div class="sidenav">
    <%- partial ('menu-side.ejs') %>
  </div>
  <div class="main-content">

    <h3>Dashboard</h3>

    <!--<div class="well">-->
      <!--<p>Some text..</p>-->
    <!--</div>-->
    <div class="row">
      <div class="well col-sm-6">

        <div class="col-sm-9">
          <h3>Balance</h3>
          <p>$1.234</p>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="well">
          <h3>Products</h3>
          <p>134 Products</p>
        </div>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Product List
        <a class="pull-right btn" href="#" data-toggle="collapse" data-target="#list-card">
          <i class="fa fa-chevron-circle-down"></i>
        </a>
      </div>
      <div class="collapse table-responsive list-table" id="list-card">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="sr-only">ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th class="sr-only"></th>
            <th class="sr-only"></th>
            <th class="sr-only"></th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
