<ul class="list-group">
  <a href="/user/view"><li class="list-group-item"><i class="fa fa-dashboard"></i> Dashboard</li></a>
  <a href="/user/gift"><li class="list-group-item"><i class="fa fa-shopping-basket"></i> Your Basket</li></a>
  <a class="user-list" href="/user/balance"><li class="list-group-item"><i class="fa fa-bank"></i> Balance</li></a>
  <a class="user-list" href="/user/userid"><li class="list-group-item"><i class="fa fa-pencil"></i> Edit Info</li></a>
  <a href="/user/sell"><li class="list-group-item"><i class="fa fa-shopping-cart"></i> Sell Product</li></a>
  <a href="#"><li class="list-group-item"><i class="fa fa-cc-paypal"></i> Withdraw</li></a>
</ul>
