<ul class="list-group">
  <a href="#"><li class="list-group-item"><i class="fa fa-dashboard"></i> Dashboard</li></a>
  <a class="user-list" href="/user/edit/"><li class="list-group-item"><i class="fa fa-pencil"></i> Edit Info</li></a>
  <a href="/user/sell"><li class="list-group-item"><i class="fa fa-shopping-cart"></i> Sell Product</li></a>
  <a href="/user/withdraw"><li class="list-group-item"><i class="fa fa-cc-paypal"></i> Withdraw</li></a>
</ul>
