<%- partial ('../common/navbar.ejs') %>
<div class="container" id="register-page">

  <form role="form" class="form-register" id="register">


    <div class="form-group has-feedback">
      <label for="inputEmail" class="sr-only">Email</label>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Enter email" required autofocus>
    </div>

    <div class="form-group has-feedback">
      <label for="inputPassword" class="sr-only">Password</label>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      <input type="text" name="password" id="inputPassword" class="form-control" placeholder="Enter password" required>
    </div>

    <div class="form-group has-feedback">
      <label for="inputName" class="sr-only">Full Name</label>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Enter full name" required autofocus>
    </div>

    <div class="form-group has-feedback">
      <label for="inputBirthday" class="sr-only">Birthday</label>
      <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
      <input type="text" name="birthday" id="inputBirthday" class="form-control" placeholder="Enter birthday" required autofocus>
    </div>



    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
  <div class="modal fade" id="regModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Notice</h4>
        </div>
        <div class="modal-body">
          <p class="notice-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

