<%- partial ('../common/navbar.ejs') %>
<div id="payment-success">
  <div class="container text-center">
    <h1 class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Thank you!</h1>
    <p>Your payment has been processed successfully.</p>
    <hr>
      <p>Payment ID : <strong></strong></p>
      <p>Amount paid: <strong></strong></p>
      <p>Method : <strong></strong></p>
    <hr>
    <p>You will recieve to email <strong></strong>... with details of your gift cards</p>
    <p><a href="/home" type="button" class="btn btn-success">Continue Shopping</a></p>
  </div>
</div>
