<footer>
  <div class="container">
    <div class="col-sm-4">
      <h4 class="ftitle">ABOUT COMPANY</h4>
      <p class="fdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi utaliquip ex ea commodo consequat.
    </div>

    <div class="col-sm-4">
      <h4 class="ftitle">SOCIAL NETWORK</h4>
      <p>
        <a href="#"><img src="/images/facebook.png"></a>
        <a href="#"><img src="/images/google.png"></a>
        <a href="#"><img src="/images/twitter.png"></a>
        <a href="#"><img src="/images/youtube.png"></a>
      </p>
    </div>
    <div class="col-sm-4">
      <h4 class="ftitle">CONTACT</h4>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> 21 Revolution Street ,Paris ,France</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> +1 555 123456</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> support@company.com</p>
    </div>
    <div class="f-copy col-sm-12">Copyright <i class="fa fa-copyright"></i> 2017</div>
  </div>
</footer>


