/* Remove the navbar's default margin-bottom and rounded borders */
html {
  min-height:100%;
}
body {
  background:#f5f5f5 !important;
  letter-spacing: 0.8px;
}
a {
  font-size:15px;
  color:#5a5a5a;
  text-decoration: none;
}
#cartModal .modal-dialog {
  position: absolute !important;
  right: 30px;
  top: 30px;
}
.jumbotron {
  margin-top:60px;
  min-height: 300px;
  background-image:url('https://d3hu3x7rvgjffo.cloudfront.net/marketing/buy-banner/buy-page_hero.jpg');
}
.navbar-nav > .open > a:focus {
  background: none !important;
}
#navbar-home .dropdown-menu, #navbar-home .dropdown-menu > li > a:hover, #navbar-home  .dropdown-menu > li > a:focus {
  background: rgba(255, 255, 255, 0.15);
}
.dropdown-menu,.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #fff;
}

#navbar-home .col-title .dropdown-menu, #navbar-home .col-title .dropdown-menu > li > a:hover, #navbar-home  .col-title .dropdown-menu > li > a:focus {
  background: rgba(255, 255, 255, 0.15);
}
.col-title .dropdown-menu,.col-title .dropdown-menu > li > a:hover, .col-title .dropdown-menu > li > a:focus {
  background: #fff;
}

.pull-right {
  margin-top: -5px;
}
#giftcard-page {
  max-width: 1200px;
}
#giftcard-page .jumbotron, #payment-success {
  margin-top:90px;
}
#giftcard-page .list-group-item {
  border:none;
}
#giftcard-page li.list-group-item {
  height:30px;
  line-height:20px;
}
#giftcard-page .list-group hr {
  margin:7px 0 0px 0;
}

#giftcard-page .col-md-10 {
  border-left:1px solid #f1f1f1;
}
#navbar-home {
  border:none;
  background:none;
  height:60px;
}
#navbar-home li a{
  color:#fff;
  font-weight: bold;
  line-height:30px;
}

#user-page .col-sm-12 {
  margin-left:240px;
}
#user-page .row {
  margin-left:0;
}
#user-page .well {
  background:#fff;
}
#list-giftcard_length, #list-giftcard_info, #list-giftcard_paginate {
  display:none;
}
#list-giftcard_filter {
  min-height: 50px;
  padding: 10px;
}
#list-giftcard_filter input {
  min-width: 280px;
  height: 30px;
  border: 1px solid #7ab55c;
}
.left-view {
  font-size: 13px;
  padding: 20px;
  border-right: 1px solid #ddd;
}
.left-view h5, .left-view p {
  margin-left:10px;
}
.product-price span {
  font-weight:300;
}
.product-price {
  font-weight:bold;
}
.giftcard-detail {
  padding:0 25px !important;
  font-size:13px;
  color: #3e3e3e;
  font-weight: 400;
}
.giftcard-detail h2 {
  font-size:14px;
}
.show-table {
  display:table !important;
}

table.dataTable {
  display:none;
}
a i.fa.fa-bars {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}
#navbar-home .search-input {
  opacity:0.8;
  padding-left:32px;
  background-image: url('../images/search.png');
  background-position: 8px 10px;
  background-repeat: no-repeat;
  background-size:18px;
  font-size: 14px;
  min-width: 250px;
  height: 40px;
  border-radius: 40px;
}
.container {
  width:100% !important;
}
#admin-page,#user-page {
  padding:0;
  margin:0;
}
#edit-card , ul.breadcrumb, .col-brand{
  margin-top:15px;
}
#list-child {
  margin-bottom:0 !important;
}
#list-child li.list-group-item {
  background:#f5f5f5 !important;
}
form#add-new-type label {
  padding-top:12px;
}
form#add-new-type input {
  max-width:400px;
  height:42px;
}
table tr {
  height:50px;
}
thead {
  background: #e2e2e2;
}
.panel-heading {
  font-size:16px;
  color:#fff !important;
  background:#7ab55c !important;
  height:50px;
  padding:14px 15px;
}
.table tr th, .table tr td {
  vertical-align: middle !important;
}
.sidenav {

  min-height:100%;
  position: fixed;
  width:240px;
  -webkit-transition: all 0.6s; /* Safari */
  transition: all 0.6s;
}
.sidenav li:hover, a:hover, a:focus {
  color:#7ab55c;
  text-decoration: none;
}
.navbar {
  z-index: 1;
  height:80px;
  margin-bottom:0;
}
a.navbar-brand, .navbar-nav > li > a {
  line-height:50px;
}
#cart-page , #checkout-page {
  margin-top:90px;
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
}
#register-page , #login-page {
  max-width:500px;
  margin-top:90px;
  background:#fff;
  padding:15px;
}
#register-page form,#login-page form {
  padding:15px;
  background:#fff;
}
#register-page input,#login-page input {
  height:50px;
}
#giftcard-view {
  margin-top:90px;
}
#giftcard-view h3 {
  font-weight:200;
}
#list-card img {
  width:70px;
}
#giftcard-view th {
  color: #5f5f5f;
  font-size: 13px;
}
.sidenav {
  padding:0;
  border-right:1px solid #e2e2e2;
  background: #fff;
}
.sidenav .fa.pull-right {
  line-height:40px;
}

li.list-group-item {
  border-right:none;
  font-weight: 300;
  height: 60px;
  line-height: 40px;
  margin-bottom: -1px !important;
  border-radius: 0 !important;
}
.list-table {
  padding:0;
}

#imageInput {
  width:100%;
}

td.card-image img {
  max-width:100px;
}

.rotated {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transition: all 0.4s; /* Safari */
  transition: all 0.4s;
}

.col-search {
  padding:15px;
  background:#0b2a41;
}
.col-search .input-key {
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
}
.result-item {
  padding:10px;
  position: absolute;
  background: #fff;
  float: left;
}
.result-item img , .result-item h4 {
  float:left;
  margin-right:15px;
}
.col-search input {
  height:50px;
}
.col-search span .fa {
  padding: 0 10px;
}
.col-search span {
  background: #007699;
  color: #fff;
}
.carousel-caption{
  margin-bottom:30px;
}
.carousel-caption p {
  margin-bottom:30px !important;
  font-size:22px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  min-height:300px;
  width:100%;
}

.carousel-caption span {
  font-weight:400;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.64);
  color: #333;
  padding: 10px 15px;
  border-radius: 4px;
  text-shadow: none;
}
#myCarousel1 {
  padding:15px;
}
.carousel-caption a:hover > span {
  background:#fff;
}

.slider {
  width: 50%;
  margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.multi-slide .carousel-control {
  background:none;
  width:8%;
}
.multi-slide .caption {
  font-size: 15px;
  color: #333;
  font-weight: 200;
}
.col-allbrand .col-sm-3 {
  margin-bottom:15px;
}
.col-allbrand .col-sm-3 p {
  padding:3px 10px;
}
.col-title {
  padding:0 20px;
}
@media (min-width: 1200px) {
  .container {
    width:100%;
  }
}

@media (max-width: 900px) {

  .carousel-caption p {
    margin-bottom: 20px !important;
    font-size: 16px;
  }
  .input-group-addon:last-child {
    display:none;
  }
  .col-search .input-group {
    width:90%;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-height:300px;
    width:auto;
  }
  .search-input {
    width: 200px;
    margin-left: auto;
    margin-right:auto;
  }
  .navbar-collapse {
    background: rgba(2, 4, 32, 0.8);
    border:none;
  }
  /*.col-md-2 {*/
    /*display:none;*/
  /*}*/
  .jumbotron {
    min-height: 0;
  }
}
.aright {
  display:none !important;
}
@media (max-width: 1065px) {
  #giftcard-page li.list-group-item {
    font-size:14px;
  }
}

.main-content {
  padding-right:20px;
  margin-left:260px;
}
@media (max-width: 768px) {
  .sidenav {
    margin-left:-240px;
  }
  .main-content {
    margin-left:20px;
  }
  .menu-active {
    margin-left: 0px !important;
  }
  .aright {
    display:inline-block !important;
  }
  #giftcard-view , .col-sm-12{
    padding:0;
  }
}

.popover {
  width:400px;
}
.cart-added {
  opacity:0.5;
  background:rgba(0, 0, 0, 0.1);
}
.popover-content {
  padding:3px;
}
.popover-content .media {
  border-bottom: 1px solid #efefef;
  padding: 0 0 10px 0;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  font-size:12px;
  font-weight:bold;
}
.alert-dismissable .close {
  right:0;
}
